<!doctype html>
<html ng-app="myApp">
<head>
<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
apiKey: "AIzaSyCbU6V98uxmVkNJPllBlZhWf9gJDRaLJ0Y",
    authDomain: "chat-8d349.firebaseapp.com",
    databaseURL: "https://chat-8d349.firebaseio.com",
    projectId: "chat-8d349",
    storageBucket: "chat-8d349.appspot.com",
    messagingSenderId: "475546296516"  
};
  firebase.initializeApp(config);
</script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
  <script src="javascripts/script.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
<h1>CHATROOM</h1>
<div ng-controller="myController" id="header">
        <h2 id="welcomeText">Welcome. You are logged in as
           <span class="usernameTxt"> <%= username %> </span>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
    </div>
<div ng-controller="chatController">
<form novalidate class="simple-form">
  Message: <input type="text" ng-model="user.chat" />
  <input type="submit" ng-click="update(user)" value="Send" />
</form>
<ul id="chatBody">
<li ng-repeat='line in chats'>
<span class="usernameTxt">{{line.from}}</span> - {{line.body}}
</li>
</ul>
</div>

</body>
</html>
